
.protobox-default {
	position: absolute;
	display: block;
	background-color: #6CF;
	width: 100px;
	height: 100px;
	border: 2px solid #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.protobox-editable {
	display: block;
	position: relative;
	background-color: white;
	width: 80%;
	border: 1px solid #ccc;
	text-align: center;
	font: small Helvetica, Arial;
	padding: 2px;
	margin: 0px;
}

span.protobox-editable {
	cursor: default;
}

.protobox-straight-line {
	display: block;
	position: absolute;
	border: 1px solid black;
}

.protobox-arrow-start {
	display: block;
	position: absolute;
	border: 1px solid black;
}

.protobox-arrow-end {
	display: block;
	position: absolute;
	border: 0px;
	background: url('icons/arrow_end.gif');
	width: 10px;
}

