
.protowidget-label-default {
	display: block;
	position: relative;
	background-color: white;
	height: 20px;
	border: 1px solid #ccc;
	text-align: center;
	font: small Helvetica, Arial;
	padding: 2px;
	margin: 0px;
	width: 80%;
	top: 50%;
	left: 50%;
	margin-left: -40%;
	margin-top: -10px;
}

span.protowidget-label-default {
	color: white;
	cursor: default;
	background-color: transparent;
	border: 1px solid transparent;
}